@model IEnumerable<D3.Controllers.Biglietto>

@{
    ViewData["Title"] = "Elenco Biglietti Venduti";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Sala</th>
            <th>Tipo di Biglietto</th>
            <th>Nome</th>
            <th>Cognome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Sala</td>
                <td>@ticket.Tipo.ToString()</td>
                <td>@ticket.Ospite.Nome</td>
                <td>@ticket.Ospite.Cognome</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Create")">Vendi un nuovo biglietto</a>
