@model List<EsercitazioneSettimanale1.Models.VerbaleEntity>

@{
    ViewData["Title"] = "Violazioni superiori a 10 punti";
}

<h2>Verbali per Trasgressore</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data Violazione</th>
            <th>Importo</th>
            <th>Decurtamento punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.DataViolazione.ToString("dd/MM/yyyy")</td>
                <td>@item.Importo</td>
                <td>@item.DecurtamentoPunti</td>
                

            </tr>
        }
    </tbody>
</table>
